<mat-toolbar class="header mat-elevation-z3">
    <span>
        <a routerLink="/">
            <img class="logo" src="assets/img/logo.png" alt="Logotipo">
        </a>
    </span>
    <span class="title-group">
        <a>
            <mat-icon>home</mat-icon>
            Início
        </a>        
    </span>
    <span class="spacer"></span>
    <button mat-icon-button >
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>